<meta charset="UTF-8">
<h1>PROGRAMA CALCULAR IMC</h1>
<script>

function saltarLinea() {
    document.write("<br>");
}

function imprimir(frase) {
    document.write(frase);
    saltarLinea();
}

function calcularImcFisrtMode(peso,altura){
    IMC = peso/ (altura * altura);
    return (IMC);
}

function calcularImc(peso,altura){
    imc = peso/ (altura * altura);
    imprimir("El IMC calculado es " + imc);
}

peso = 71;
altura = 1.72;
//IMC = peso / (altura*altura);
imcFinal = calcularImc(peso,altura);

imprimir("El IMC de Cristian es: " + IMC);

</script>