<meta charset="UTF-8">

<h1>PROGRAMA</h1>

<script>

	function saltarLinea() {
		document.write("<br>");
		document.write("<br>");
		document.write("<br>");
	}

	function imprimir(frase){
		
		document.write(frase);
		saltarLinea();
	}
	// CALCULA LAS EDADES
	imprimir("Hola amigos");
	saltarLinea();
	var anho = 2025;
	var saltolinea = "<br><br>";

	imprimir("Juan tiene: " + (anho-2000) + " años");
	saltarLinea();
	//document.write(saltolinea);

	imprimir("Pedro tiene: " + (anho-1995) + " años");
	
	anho = 2030;
	saltarLinea();
	imprimir("Carlos tiene: " + (anho-2005) + " años");
	

</script>


